<style>
    div.a {
        text-align: center;
    }
</style>
<div class="a">
    <h5>2021 - Nhà sách ABC. Allright Reserved</h5>
    <p>Website được phát triển để sử dụng làm bài tập thực hành môn Lập trình Web</p>
    <p>Email:abc@gmail.com</p>
</div>
